﻿body {
    padding: 50px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6;
}

input {
    margin-right:5px;
}

a {
    color: #00B7FF;
}

.search {
    width: 800px;
   
}

.result{
    padding:5px;
}

.result .price {
    color: crimson;
}

.container {
    margin-top: 50px;
    width: 800px;
    display: none;
}

.fail, .waiting {
    margin-top: 50px;
    display: none;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: #ededed;
    color: #222;
}

.tab-content {
    display: none;
    border: solid 2px #ededed;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}