﻿extends layout

block content
  h1 Welcome to Flight Search
  div(class='search')
    input(type='text' id='from' list="mylist")  
    input(type='text' id='to' list="mylist")
    input(id="date")
    input(type='button' id='search-button' value="Search" )   
  
  div(class="waiting")
    h1 Searching, any minute now.
    img(src="images/waiting.gif")
     
  div(class="fail")         
    h1 Sorry, something went wrong.
    img(src="images/penguifall.gif") 
  
  div(class="container")