﻿doctype html
html
  head
    title Flight Search
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.js')
    script(src='/javascripts/uiScripts.js')    
    script(src='/javascripts/awesomplete.min.js')
    script(src='/javascripts/datepicker.min.js')
    
    link(rel='stylesheet', href='/stylesheets/datepicker.min.css')
    link(rel='stylesheet', href='/stylesheets/awesomplete.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content